body{
    font-family: 'Fraunces', serif; 
    font-family: 'Montserrat', sans-serif;
    background-color: #F2EAE2;
}
.pic{
    width: 343px;
    height: 611px;
    margin: auto;
    margin-top: 28px;
    background-color: white;
    border-radius: 10px;
}
.mobile-image{
    width: 100%;
}
.contant{
    padding: 24px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    color: #6C7289;
    font-Size:12px;
    Line-height:14.63px;
    letter-spacing:5px;
    font-style: medium;
}
h2{
    font-family: 'Fraunces', serif; 
    font-weight: 700;
    font-size:32px;
    line-height: 32px; 
    color: #1C232B;
    padding-top: 12px;
}
p{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #6C7289;
    padding-top: 16px;
}
h4{
    font-family: 'Fraunces', serif; 
    color: #3D8168;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding-top: 24px;
}
.numbers{
    display: flex;
    gap: 10px;
}
.numbers p{
    color: #6C7289;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    padding-top: 30px;

}
button{
   background-color: #3D8168;
    width: 285px;
    height: 48px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    
}
h5{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 14px;
    line-height: 17.07px; 
    color: beige;
    width: 85px;
}